{
	"openapi": "3.0.1",
	
	"info": {
		"title": "$serviceClassName",
		"contact": {
			"email": "wsdl2rest@github.io"
		},    
		"version": "1.0.0"
	},
   
	"servers": [{
		"url": "$jaxrsAddress"
    }],
    
	"paths": {
#foreach( $method in $allMethods )
#if ( $method.httpMethod.toLowerCase() == 'post' || $method.httpMethod.toLowerCase() == 'put' )

		"/$method.resources.get(0)": {
			"$method.httpMethod.toLowerCase()": {
				"description": "$method.methodName",
				"operationId": "$method.methodName",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
#set ( $schema = $method.params[0].paramType )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )							
								"$ref": "#/components/schemas/$schema"
							}
						}
					},
			        "description": "$method.methodName",
        			"required": true
				},
				"responses": {
					"200": {
						"description": "successful operation"
					}
				}
			}
		},
#else
#if ($method.params.size() > 0)

		"/$method.resources.get(0)/{id}": {
			"$method.httpMethod.toLowerCase()": {
				"description": "$method.methodName",
				"operationId": "$method.methodName",
				"parameters": [{
					"name": "id",
					"in": "path",
			        "description": "$method.methodName",
					"required": true,
					"schema": {
	              		"type": "integer"
              		}
          		}],
				"responses": {
					"200": {
						"description": "successful operation",
						"content": {
							"application/json": {
								"schema": {
#set ( $schema = $method.returnType )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )								
									"$ref": "#/components/schemas/$schema"
								}
							}
						}
					}
				}
			}
		},
#else
#*
		"/$method.resources.get(0)": {
			"$method.httpMethod.toLowerCase()": {
				"description": "$method.methodName",
				"operationId": "$method.methodName",
				"responses": {
					"200": {
						"description": "successful operation"
					},
				}
			}
		},
*#		
#end
#end
#end
	},

	"components": {
		"schemas": {
#foreach( $type in $allTypes )
#set ( $schema = $type.typeName )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )								
			"$schema": {
				"type": "object",
				"properties": {
#foreach( $element in $type.elements )
					"$element.elementName": {
#if($element.complex == 'false')
						"type": "$element.elementType",
#if($element.elementType == 'integer')
						"format": "int(10)"
#end
#if($element.elementType == 'string')
						"format": "varchar(200)"
#end
#else
#set ( $schema = $element.elementType )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )								
						"$ref": "#/components/schemas/$schema"
#end
					},
#end					
				},
			},
#end			
		}
	}
}