{
	"openapi": "3.0.1",
	
	"info": {
		"title": "$serviceClassName",
		"contact": {
			"email": "wsdl2rest@github.io"
		},    
		"version": "1.0.0"
	},
   
	"servers": [{
		"url": "$jaxrsAddress"
    }],
    
	"paths": {
#foreach( $method in $allMethods )
#if ( $method.httpMethod.toLowerCase() == 'post' || $method.httpMethod.toLowerCase() == 'put' )

		"/$method.methodName": {
			"$method.httpMethod.toLowerCase()": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
#set ( $schema = $method.params[0].paramType )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )							
								"$ref": "#/components/schemas/$schema"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "successful operation"
					},
					"405": {
						"description": "Validation exception"
					}
				}
			}
		},
#else
#if (!$method.returnType.endsWith('[]'))

		"/$method.methodName{id}": {
			"$method.httpMethod.toLowerCase()": {
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"schema": {
	              		"type": "integer"
              		}
          		}],
				"responses": {
					"200": {
						"description": "successful operation",
						"content": {
							"application/json": {
								"schema": {
#set ( $schema = $method.returnType )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )								
									"$ref": "#/components/schemas/$schema"
								}
							}
						}
					},
					"400": {
						"description": "Invalid argument supplied"
					},
					"404": {
						"description": "Record not found"
					}
				}
			}
		},
#else

		"/$method.methodName": {
			"$method.httpMethod.toLowerCase()": {
				"responses": {
					"200": {
						"description": "successful operation"
					},
				}
			}
		},
#end
#end
#end
	},

	"components": {
		"schemas": {
#foreach( $type in $allTypes )
#set ( $schema = $type.typeName )
#set ( $schema = $schema.substring($schema.lastIndexOf('.') + 1 ) )								
			"$schema": {
				"type": "object",
				"properties": {
#foreach( $element in $type.elements )				
					"$element.elementName": {
						"type": "$element.elementType"
					},
#end					
				},
			},
#end			
		}
	}
}